//Responsive framework
//author: Developed by Stas Melnikov. http://stas-melnikov.ru

//mixins

@mixin transition($property,$x,$effect) {
	transition: $property $x $effect 0s;
	-moz-transition: $property $x $effect 0s;
	-webkit-transition: $property $x $effect 0s;
	-webkit-transition-delay:  $x 0s;
}

$width_cart: 100%;
$padding_row: 2%;
$width_foto_product: 22% ;
$width_amount_product: 15%;
$width_price_product: 20%;
$width_delete_row: 2%;

$width_name_product: $width_cart - ($width_foto_product + $width_amount_product + $width_price_product + $width_delete_row + 2% + $padding_row * 2);
$width_title_name_product: $width_foto_product + $width_name_product;

.cart{
	padding-left: 20px;
	padding-right: 20px;
	
	min-width: 100px;
	max-width: 1000px;
	
	margin: 0 auto;
	position: relative;
}

#added_products{
	padding-bottom: 30px;
	border-bottom: 2px solid #eeeeee;
}

.item_column{
	vertical-align: top;
}

.added_products_head {

	margin: 0 0 30px;
	
	.item_column{
		text-align: center;
	}
	
	.item_name{
		width: $width_title_name_product;
		
	}
	
	.amount{
		width: $width_amount_product;
	}
	
	.price{
		width: $width_price_product;
	}
}

.added_products_item{
	
	padding: 20px $padding_row;
	margin-bottom: 20px;
	
	.cart_foto_product{
		margin-right: 15px;
		width: $width_foto_product;
	}
	
	.item_name{
		width: $width_name_product;
	}
	
	.cart_name_product{
	
		color: #36bae2;
		font-size: 20px;
		text-decoration: none;
	}
	
	.cart_product_description{
	
		font-size: 14px;
		color: #000;
		
		line-height: 22px;
		margin-top: 5px;
	}
	
	.amount{
		width: $width_amount_product;
		text-align: center;
	}
	
	.remove{
		cursor: pointer;
		height: 32px;
		width: 10px;
	}
	
	.remove:after{
	
		content: "";
		
		display: inline-block;
		vertical-align: middle;
		
		height: 2px;
		width: 10px;
		
		background-color: #000;
		
		@include transition(background-color, .4s, ease-in)
	}
	
	.amount_input{
	
		width: 30%;
		font-size: 14px;
		
		border: 1px solid #000;
		
		margin: 0 5px;
		padding: 8px;
		text-align: center;

		@include transition(border-color, .8s, linear)
	}
	
	.amount_input:focus, .amount_input:hover{
		border-color: #eee;
	}
	
	.add{
	
		font-family: tahoma;
		font-size: 17px;
		color: #000;
		font-weight: bold;
		
		cursor: pointer;
		
		height: 32px;
		width: 10px;
		
		@include transition(color, .4s, ease-in)
	}
	
	.price{
		width: $width_price_product;
		text-align: center;
		
		font-size: 20px;
		font-weight: bold;
	}	
	
	.item_title{
		display: none;
	}
	
	.delete_row{
	
		width: $width_delete_row;
		cursor: pointer;
		
		text-align: center;
		margin-left: 10px;
		
		font-size: 20px;
		font-weight: 700;
		
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		
		@include transition(color, .4s, ease-in)
	}
	
	.delete_row_span{
		display: none;
	}
}

.delete_row:hover{
	color: #36bae2
}

#no_products{
	text-align: center;
}

.added_products_item:nth-child(even) {
    background-color: #f5f5f5;
}

.cart_fotter{
   
	margin-top: 20px;
    text-align: right;
	
	.sum{
		display: inline-block;
		margin-right: 15px;
		vertical-align: bottom;
	}
	
	.price{
		font-size: 20px;
		font-weight: bold;
		margin-right: 98px;
	}
}

.item_column{
	display: inline-block;
}

.basket_button{
	display: block;
	margin: 40px auto 100px;
}

#pick_up{
	display: none;
}

/****************940********************/

@media screen and (max-width: 940px){
	
	$width_title_name_product: $width_foto_product + $width_name_product;

	$width_foto_product: 30% ;
	$width_price_product: 15% ;
	$width_name_product: $width_cart - ($width_foto_product + $width_amount_product + $width_price_product + $width_delete_row + 2% + $padding_row * 2);
	
	.added_products_head {
	
		.item_name{
			width: $width_title_name_product;
		}
	}
	
	.added_products_item{
	
		.cart_foto_product {
			margin-right: 15px;
			width: $width_foto_product;
		}
		
		.item_name{
			width: $width_name_product;
		}
		
		.price{
			width: $width_price_product;
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 800px){

	$width_amount_product: 8% ;
	
	$width_title_name_product: $width_foto_product + $width_name_product;
	$width_name_product: $width_cart - ($width_foto_product + $width_amount_product + $width_price_product + $width_delete_row + 2% + $padding_row * 2);
	
	.added_products_head {
	
		.item_name{
			width: $width_title_name_product;
		}
	
		.amount {
			width: $width_amount_product;
		}
	}
	.added_products_item{
	
		.amount {
			width: $width_amount_product;
			padding-left: 2%;
		}
	
		.remove, .add{
			display: none;
		}
		
		.amount_input{
			margin: 0;
			width: 70%;
		}
	}
}

/****************700********************/

@media screen and (max-width: 700px){
	
	#added_products{
		text-align: center;
	}
	
	
	.added_products_head{
		display: none;
	}
	
	.added_products_item{
	
		width: 40%;
		background-color: #f5f5f5 !important;
		
		display: inline-block;
		vertical-align: top;
		margin: 0 2% 15px;
	
		.item_title{
		
			display: block;
			
			margin: 20px 0;
			
			text-align: center;
			font-size: 20px;
			font-weight: 700;
		}
		
		.cart_name_product {
			font-size: 16px;
		}
		
		.remove, .add{
			display: inline-block
		}
		
		.amount_input {
			margin: 0 10px;
			width: 20%;
		}
		
		.item_column{
		
			display: block;
			width: 100%;
			
			margin-bottom: 20px;
			text-align: center;
		}
		
		.price{
			font-size: 15px;
		}
		
		.delete_row{
			display: none;
		}
		
		.delete_row_span{
			
			display: block;
			margin: 30px 0 10px;
			font-weight: 700;
			cursor: pointer;
			text-decoration: underline;
		}
	}
	
}

/****************560********************/

@media screen and (max-width: 560px){
	.added_products_item{
		width: 90%;
	}
	
	.cart_fotter .price{
		margin-right: 0
	}
}