/*
Responsive framework
author: Developed by Stas Melnikov. http://stas-melnikov.ru
*/

height_slide = 750px

transform_rotate(value) 

	-webkit-transform: rotate(value)
	-moz-transform: rotate(value)
	-ms-transform: rotate(value)
	transform: rotate(value)


m_transition(property, name, effect)

	transition: property name effect 0s
	-moz-transition: property name effect 0s
	-webkit-transition: property name effect 0s
	-webkit-transition-delay:  name 0s


transform_rotateY(value) 

	-webkit-transform: rotateY(value)
	-moz-transform: rotateY(value)
	-ms-transform: rotateY(value)
	transform: rotateY(value)


transform_rotateX(value) 

	-webkit-transform: rotateX(value)
	-moz-transform: rotateX(value)
	-ms-transform: rotateX(value)
	transform: rotateX(value)


animation(name, duration, delay)

	-webkit-animation-name: name
	animation-name: name
	
	-webkit-animation-duration: duration
	animation-duration: duration
	
	-webkit-animation-delay: delay
	animation-delay: delay


transform_scale(value) 
		
	-ms-transform: scale(value)
	-moz-transform: scale(value)
	-webkit-transform: scale(value)
	transform: scale(value)


m_translate(x,y) 

	-webkit-transform: translateZ(0px) translate(x, y)
	-ms-transform: translateZ(0px) translate(x, y) 
	transform: translateZ(0px) translate(x, y)


/**********************************************all**********************************************/

* 
	margin : 0
	padding : 0 
	border : 0
	outline: medium none
	list-style: none

#slideshow 

	height: height_slide
	position: relative
	
	text-align: left
	overflow: hidden
	margin: 0 auto



#slidesContainer 
	height: height_slide
	overflow: hidden
	position: relative


#slideInner:after
	clear: both
	display: block
	content: ""


.slide 

	float: left
	position: relative

	height: height_slide
	cursor: url(../icons/take.png) 8 8, move


#slideshow:hover

	.arrow
		m_translate(0%, -50%)
	


.arrow

	width: 40px
	height: 70px
	
	padding: 8px 15px
	background-color: rgba(0, 147, 184, .8)
	cursor: pointer
	
	position: absolute
	top: 50%
	z-index: 8
	
	
	m_transition(transform, .3s, ease-out)


.prev
	m_translate(-120%, -50%)


.next
	right: 0
	m_translate(120%, -50%)


.prev:before, .next:before

	content: ""
	display: block
	
	height: 35px
	width: 35px
	
	position: absolute
	z-index: 8

	transform_rotate(-135deg)
	m_transition(color, 0.4s, ease-in)
	
	border-style: solid
	color: #fff


.prev:before
	border-width: 15px 15px 0 0
	left: 20px
	top: 20px


.next:before
	border-width: 0 0 15px 15px
	top: 20px
	right: 20px


.title_slide 

	font-size: 24px
	color: #000
	font-weight: normal
	text-transform: uppercase
	
	position: absolute
	bottom: 40px
	left: 10px


.link_sait
	color: #1493c8


.description
	position: absolute
	bottom: 0
	left: 10px



/***************900*********/

@media screen and (max-width: 900px)
	
	#slideshow,#slidesContainer, .slide
		height: 660px
	


/****************800*********/

@media screen and (max-width: 800px) 

	#slideshow,#slidesContainer, .slide
		height: 585px
	


/****************768*********/

@media screen and (max-width: 768px)

	#slideshow,#slidesContainer, .slide
		height: 555px
	


/****************640**********/

@media screen and (max-width: 640px)

	#slideshow,#slidesContainer, .slide
		height: 465px
	


/***************520**********/

@media screen and (max-width: 520px)
	
	.arrow
		display: none !important
	


/*********480**********/

@media screen and (max-width: 480px)

	#slideshow,#slidesContainer, .slide
		height: 345px
	


/*********360**********/

@media screen and (max-width: 360px)

	#slideshow,#slidesContainer, .slide
		height: 225px
	

	

/******************layer effects**************************/

.layer
	-webkit-animation-fill-mode: both
	animation-fill-mode: both
	display: block
	opacity: 0



.active_slide .scale
	animation(scale, 1s, 1.5s)


@keyframes {scale }
	{0% }
		transform_scale(1.2)
		opacity: 0
	

	{100% }
		transform_scale(1)
		opacity: 1
	


@-webkit-keyframes {scale }
	{0% }
		transform_scale(1.2)
		opacity: 0
	

	{100% }
		transform_scale(1)
		opacity: 1
	


.slide_bottom
	m_translate(0%, -10%)


.active_slide .slide_bottom
	animation(slide_bottom, 1s, 1.5s)


@keyframes {slide_bottom }
	{0% }
		m_translate(0%,0%)	
		opacity: 0
	

	{100% }
		m_translate(0%,-10%)
		opacity: 1
	


@-webkit-keyframes {slide_bottom} 
	{0% }
		m_translate(0%,0%)
		opacity: 0
	

	{100% }
		m_translate(0%,-10%)
		opacity: 1
	 


.slide_top
	m_translate(0%,40%)


.active_slide .slide_top
	animation(slide_top, 1s, 1.5s)


@keyframes {slide_top }
	{0% }
		m_translate(0%,0%)
		opacity: 0
	

	{100% }
		m_translate(0%,40%)
		opacity: 1
	


@-webkit-keyframes {slide_top }
	{0% }
		m_translate(0%,0%)
		opacity: 0
	

	{100% }
		m_translate(0%,40%)
		opacity: 1
	
.active_slide .flipX
	animation(flipX, 1s, .5s)
	
@-webkit-keyframes {flipX }
	{0% }
		opacity: 0
		transform_rotateX(90deg)
	

	{100% }
		opacity: 1
		transform_rotateX(0deg)
		
@keyframes {flipX }
	{0% }
		opacity: 0
		transform_rotateX(90deg)
	

	{100% }
		opacity: 1
		transform_rotateX(0deg)

.active_slide .flipY
	animation(flipY, 1s, .5s)
	
@-webkit-keyframes {flipY }
	{0% }
		opacity: 0
		transform_rotateY(90deg)
	

	{100% }
		opacity: 1
		transform_rotateY(0deg)
		
@keyframes {flipY }
	{0% }
		opacity: 0
		transform_rotateY(90deg)
	

	{100% }
		opacity: 1
		transform_rotateY(0deg)		
		
.active_slide .slide_left
	animation(slide_left, 1s, 1s)
	m_translate(-200%,0%)


@keyframes {slide_left }
	{0% }
		m_translate(-200%,0%)
	

	{100% }
		m_translate(0%,0%)
		opacity: 1
	


@-webkit-keyframes {slide_left }
	{0% }
		m_translate(-200%,0%)
	

	{100%} 
		m_translate(0%,0%)
		opacity: 1
	


.active_slide .slide_right
	animation(slide_right, 1s, 1s)
	m_translate(200%,0%)


@keyframes {slide_right }
	{0%}
		m_translate(200%,0%)
	

	{100% }
		m_translate(0%,0%)
		opacity: 1
	


@-webkit-keyframes {slide_right }
	{0% }
		m_translate(200%,0%)
	

	{100% }
		m_translate(0%,0%)
		opacity: 1
